<h5 style="font-size: 30px;margin-bottom: 0px;color: #043d6d;font-family: sans-serif;">Hello</h5>
<h6 style="font-size: 18px;font-weight: 900;color: #043d6d;font-family: sans-serif;margin-top: 0px;"><%= @news_letter_subscription.first_name %></h6>

<p>Thank you for subscribing our weekly news letter. Now you will get weekly updates into you mail inbox.</p>

<p>Keep in touch with us.</p>

<p style="font-size: 18px;font-weight: 900;color: #043d6d;font-family: sans-serif;">Team EasyBooks</p>
<p style="margin-top: -14px;font-size: 13px;font-family: sans-serif;">https://www.easybooks.com</p>
<p style="margin-top: -14px;font-size: 13px;font-family: sans-serif;">Mr Andy Appleton Surfin' Sam Ltd </p>
<p style="margin-top: -14px;font-size: 13px;font-family: sans-serif;">Suite 10a 11 Hinkley Road DAWES POINT</p>
<p style="margin-top: -14px;font-size: 13px;font-family: sans-serif;">NSW 2000 AUSTRALIA</p>