<div class="col-md-3 mt-5">
  <ul class="list-group">
    <%= link_to "Books", admin_books_path, class: "list-group-item list-group-item-action"%>
    <%= link_to "Books Category", admin_book_categories_path, class: "list-group-item list-group-item-action"%>
    <%= link_to "User Management", admin_users_path, class: "list-group-item list-group-item-action"%>
    <%= link_to "Seller Management", admin_sellers_path, class: "list-group-item list-group-item-action"%>
  </ul>
</div>